:root{
    --black:#000000;
    --white:#fff;
    --green:#32CD32;
    --yellow:#FDDA0D;
}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}
@keyframes Slide{
    from {
        margin-top: 100%;
        opacity: 0;
    }
    to{
        margin-top: 0%;
        opacity: 1;
    }
}
html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
}
/* navbar section */
.navbar{
    background: var(--white);
    height: 60px;
    padding: 0.5rem calc((50vw - 1600px) / 2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    outline: var(--green);
    outline-width: 0.3rem;
    outline-style: outset;
}
.navbar__logo{
    color: var(--green);
    text-decoration: none;
    font-size: 1rem;
}
.logoimg{
    height:60px;
    width:108px;
}
.navbar__link{
    color: var(--green);
    text-decoration: none;
    padding: 0rem 0.5rem;
    cursor: none;
}
.navbar__link:hover{
    color: var(--black);
}
.open-menu, .close-menu{
    position: absolute;
    color: var(--green);
    font-size: 1.5rem;
    display: none;
}
.open-menu{
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu{
    top: 20px;
    right: 20px;
}
#check{display: none;}

.mouse-scroll h2{
    color: var(--lightbrown);
    font-size: 18px;
    rotate: -90deg;
    position: absolute;
    align-items: center;
    justify-content:center;
    bottom: 35.5%;
    left: -146%;
}
.mouse-scroll{
    width: 2.1em;
    height: 4em;
    border: solid 3px var(--lightbrown);
    border-radius:30px;
    position: relative;
    rotate: 90deg;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    margin-top: 4.5rem;
    bottom: 200%;
    left: 44%;
    animation: pulse 3.5s infinite;
}
.mouse-scroll::before{
    content: '';
    width: 0.6em;
    height: 0.6em;
    border-radius: 50%;
    background: var(--lightbrown);
    position: absolute;
    left: 50%;
    translateX: -50%;
    animation: scroll 3.5s infinite;
    rotate: 90deg;
}
@keyframes scroll {
    from {
    bottom: 80%;
    opacity: 1;
    }
    to {
    bottom: 20%;
    opacity: 0;
    }
}
@keyframes pulse {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.7;
    }
    100%{
        opacity: 0;
    }
}
@media screen and (max-width: 768px){
    .navbar__menu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 40%;
        height:100%;
        position: fixed;
        top: 0;
        right: -100%;
        z-index:100;
        background-color: var(--white);
        transition: all 0.2s ease-in-out;
    }
    .navbar__link{
        padding:10px;
        margin:40px;
        display: flex;
        felx-direction: column;
        align-items: center;
        justify-content: center;
    }
    .open-menu, .close-menu{display:block;}
    #check:checked ~ .navbar__menu {right: 0;}
}
.button{
    padding: 1rem 2rem;
    border: none;
    background: var(--green);
    color: var(--white);
    font-size: 2rem;
    cursor: pointer;
    outline: none;
    transition: 0.3s ease;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.button:hover{
    background: var(--black);
}

/* Hero section */
.hero{
    background: rgba(50,205,50, 0.5);
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: auto;
    padding: 0.5rem calc((100vw - 1200px) / 2);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.hero__img{
    width: 80vw;
    padding: 5rem;
}
.hero__content{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 800px){
    .hero{
    background: rgba(50,205,50, 0.5);
    height: 50vh;
    width: 100vw;
    background-position: center;
    background-size: auto;
    padding: 0.5rem calc((100vw - 1200px) / 2);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    }
}

/* services section*/
.Snappy{
    width: 100%;
    background: rgba(50,205,50, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    background-position: center;
    background-size: cover;
}
.snappy__content{
    margin-bottom: 2rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services{
    background: rgba(50,205,50, 0.5);
    width: 100%;
    hegiht: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    scroll-snap-align: start;
    background-position: center;
    background-size: cover;
    padding: 0.5rem calc((100vw - 1200px) / 2);
    box-shadow:10px 10px 20px rgba(0,255,0, 0.8);
}
.services__content1{
    padding: 2rem 0.5rem;
    line-height: 1;
    justify-content: left;
    align-items: left;
}
.services__content2{
    padding: 2rem 0.5rem;
    line-height: 1;
    justify-content: right;
    align-items: right;
}
.services__content1 h1{
    font-size: clamp(2rem, 8vw, 3rem);
    text-transform: uppercase;
    margin-bottom: 3rem;
    margin-top: 1rem;
    color: var(--white);
}
.services__content2 h2{
    font-size: clamp(2rem, 8vw, 3rem);
    text-transform: uppercase;
    margin-bottom: 3rem;
    margin-top: 1rem;
    color: var(--white);
}
.services__content1 b, .services__content2 b{
    color: var(--yellow);
    font-size: clamp(2rem, 8vw, 3rem);
    margin-bottom: 3rem;
    margin-top: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}

/* footer section*/
.Dtech__tag{
    width: 50%;
    height: 90%;
}
.footer{
    padding: 5rem calc((100vw - 1100px) / 2);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: var(--white);
    background: var(--black);
}
.footer__desc{
    padding: 0 2rem;
}
.footer__desc h1{
    margin-bottom: 2rem;
    color: var(--green);
    font-size: 1.5rem;
}
.footer__desc p{
    margin-bottom: 1rem;
}
#phone{
    font-weight: bold;
    font-size: 1.2rem;
}
.footer__wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.footer__links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 2rem;
}
.footer__title{
    font-size: 14px;
    margin-bottom: 16px;
}
.footer__link{
    text-decoration: none;
    color: rgb(242,242,242);
    font-size: 14px;
    margin-bottom: 0.5rem;
    transition: 0.3s ease-in-out;
}
.footer__link:hover{
    color:var(--green);
}
@media screen and (max-width: 820px) {
    .Dtech__tag{
    width: 50%;
    height: 50%;
}
    .footer__wrapper{
        position:relative;
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;
        text-align: center;
    }
    .footer{
        position:relative;
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;
        text-align: center;
    }
}
@media screen and (max-width:800px){
    .footer__desc{
        padding: 1rem;
        position:relative;
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;
        text-align: center;
    }
    .footer__links{
        padding: 1rem;
    }
}
.reveal{
    position: relative;
    transform: translateY(200px);
    opacity: 0;
    transition: all 1.5s ease;
}
.reveal.active{
    position: relative;
    transform: translateY(0px);
    opacity: 1;
}
input [type=text], select{
    padding: 1rem 1.5rem;
    outline: none;
    width: 100%;
    height: 50px;
    border: none;
    margin-right: 1rem;
    border-radius: 4px;
    margin-bottom: 1rem;
    color: var(--black);
}
